amqp==1.4.9
anyjson==0.3.3
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.26.post2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
Django==1.11.28
django-celery==3.3.1
django-celery-beat==1.6.0
django-redis==4.10.0
django-scheduler==0.8.8
django-timezone-field==3.1
djangorestframework==3.9.4
enum34==1.1.9
get==2019.4.13
icalendar==4.0.4
idna==2.8
ipaddress==1.0.23
kombu==3.0.37
lxml==4.5.0
post==2019.4.13
psycopg2==2.8.4
public==2019.4.13
pycparser==2.19
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
query-string==2019.4.13
redis==3.4.1
request==2019.4.13
requests==2.22.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
